.modtek/
CustomAmmoCategories/CAC_heatsink_log.txt
CustomAmmoCategories/CAC_heatsink_log.txt
CustomAmmoCategories/CAC_main_log.txt
CustomAmmoCategories/CAC_objects_log.txt
CustomAmmoCategories/CAC_sounds_log.txt
CustomAmmoCategories/Log_AttackImprovementMod.txt
CustomUnits/CustomUnits.log
CustomVoices/CV_main_log.txt
*.log
CommanderPortraitLoader/Log.txt
*.xlsx
CustomLocalization/CustomLocalization.log
IRBTModUtils/irbt_mod_utils.log
LowVisibility/low_visibility.log
MechEngineer/log.txt
MechEditorMod/MechEditor_main_log.txt
CommanderPortraitLoader/PortraitJsons/
CustomAmmoCategories/CAC_criticals_log.txt
CustomAmmoCategories/CAC_minefields_log.txt
CustomAmmoCategories/CAC_profiling_log.txt
CustomComponents/log.txt
output_log.txt
cleaned_output_log.txt
LowVisibility/modstate.json
BiggerDrops/ELog.txt
BiggerDrops/modstate.json
CustomPilotDecorator.zip
CAB-Maps/assetbundles/terrain
CustomPilotDecorator/Log.txt
CameraUnchained.zip
CustomPilotDecorator/Log.txt
DBGSkirmishMechList/log.txt
CustomPrewarm/main_log.txt
CustomPilotDecorator/Log.txt
CustomLocalSettings/main_log.txt
cultureSettings.json
Core/BiggerDrops/ELog.txt
Core/CommanderPortraitLoader/Log.txt
Core/CustomComponents/log.txt
Core/CustomAmmoCategories/Log_AttackImprovementMod.txt
Core/CustomLocalSettings/main_log.txt
Core/CustomPilotDecorator/Log.txt
Core/CustomPrewarm/main_log.txt
Core/MechEditorMod/MechEditor_main_log.txt
Core/CustomAmmoCategories/CAC_AIM_log.txt
Core/CustomAmmoCategories/CAC_sounds_log.txt
Core/CustomAmmoCategories/CAC_profiling_log.txt
Core/CustomAmmoCategories/CAC_objects_log.txt
Core/CustomAmmoCategories/CAC_minefields_log.txt
Core/CustomAmmoCategories/CAC_main_log.txt
Core/CustomAmmoCategories/CAC_heatsink_log.txt
Core/CustomAmmoCategories/CAC_criticals_log.txt
Core/CustomVoices/CV_main_log.txt
Core/MechEditorMod/MechEditor_main_log.txt
Core/CustomPrewarm/main_log.txt
BTDebug/modstate.json
Core/AdminTools/modstate.json
ModSaves/
Core/CPLHelper/
Core/TravelInfoTooltips/main_log.txt
Core/TravelInfoTooltips/modstate.json
Core/BTMemoryCleaner/modstate.json
Core/BTMemoryCleaner/main_log.txt
Core/BTMemoryCleaner/cleaner_process_log.txt
Core/MechEngineer/log.txt
Core/MechEngineer/modstate.json
