.modtek/
CustomAmmoCategories/CAC_heatsink_log.txt
CustomAmmoCategories/CAC_heatsink_log.txt
CustomAmmoCategories/CAC_main_log.txt
CustomAmmoCategories/CAC_objects_log.txt
CustomAmmoCategories/CAC_sounds_log.txt
CustomAmmoCategories/Log_AttackImprovementMod.txt
CustomUnits/CustomUnits.log
CustomVoices/CV_main_log.txt
*.log
CommanderPortraitLoader/Log.txt
*.xlsx
CustomLocalization/CustomLocalization.log
IRBTModUtils/irbt_mod_utils.log
LowVisibility/low_visibility.log
MechEngineer/log.txt
MechEditorMod/MechEditor_main_log.txt
CommanderPortraitLoader/PortraitJsons/