.modtek/
CustomAmmoCategories/CAC_heatsink_log.txt
CustomAmmoCategories/CAC_heatsink_log.txt
CustomAmmoCategories/CAC_main_log.txt
CustomAmmoCategories/CAC_objects_log.txt
CustomAmmoCategories/CAC_sounds_log.txt
CustomAmmoCategories/Log_AttackImprovementMod.txt
CustomUnits/CustomUnits.log
CustomVoices/CV_main_log.txt
*.log
CommanderPortraitLoader/Log.txt
*.xlsx
CustomLocalization/CustomLocalization.log
IRBTModUtils/irbt_mod_utils.log
LowVisibility/low_visibility.log
MechEngineer/log.txt
MechEditorMod/MechEditor_main_log.txt
CommanderPortraitLoader/PortraitJsons/
CustomAmmoCategories/CAC_criticals_log.txt
CustomAmmoCategories/CAC_minefields_log.txt
CustomAmmoCategories/CAC_profiling_log.txt
CustomComponents/log.txt
output_log.txt
cleaned_output_log.txt
LowVisibility/modstate.json
LowVisibility/modstate.json
BiggerDrops/ELog.txt
BiggerDrops/modstate.json
CustomPilotDecorator.zip
MissionControl/modstate.json
*.json
CAB-Maps/assetbundles/terrain
CustomPilotDecorator/Log.txt
MissionControl/modstate.json
